/*-------------

GLOBAL STYLES

-------------*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #151824;
}

h1, h2, h3, h4, h5, h6, pre {
	font-family: 'Raleway', sans-serif;

}


a {
	color: #151824;
	text-decoration: none;
}



/*-------------

	HEADER

-------------*/


.header {
	width: 100vw;
	border-bottom: 1px solid #D3D3D3;
}

.header-sub-container {
	margin: 0px auto;
	padding: 7px 0px 0px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 130px;
}


.links {
	text-align: right;
}

.fa {
	padding: 0px 5px;
}

.links-mobile {
	display: none;
}

.codewars{
	height: 28px;
	width: 28px;
  	display: inline-block;
  	stroke:#000;
  	stroke-dasharray: 1 12;
  	margin-bottom: -3px;
}



/*-------------

	 BODY

-------------*/

.body-container {
	margin: 2em auto 0em;
	width: 90%;
	max-width: 700px
}

pre {
	display: inline;
}

.penguin {
	color: #ff5300;
}

.body-container h2 {
	margin: 0em auto;
	text-align: left;

}

/*-------------

	 BODY - PROJECTS

-------------*/

.projects-carousel {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
	height: 300px;
	text-align: center;
}

.project {
	height: 300px;
}

.project img {
	padding: 1%;
	max-width: 100%;
}



/*-------------

MEDIA QUERIES

-------------*/


@media screen and (max-width: 550px) {
	.links {
		display: none;
	}

	.links-mobile {
		display: block;
		padding: 10px 0px;
		text-align: right;
		margin-right: 15px;
	}
}