/*-------------

GLOBAL STYLES

-------------*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0 0 50px 0;
	color: #151824;
}

h1, h2, h3, h4, h5, h6, pre {
	font-family: 'Raleway', sans-serif;

}


a {
	color: #151824;
	text-decoration: none;
}

a:hover {
	color: blue;
}



/*----------------

	FULL HEADER

----------------*/

.header {
	width: 100vw;
	border-bottom: 1px solid #D3D3D3;
}

.header-sub-container {
	margin: 0px auto;
	padding: 7px 0px 0px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 130px;
}


.links {
	text-align: right;
}

.links a, .links-mobile a {
	font-family: 'raleway';
	font-weight: 600;
	padding: 0px 5px;
}

.links-mobile {
	display: none;
}



/*-------------

	 BODY

-------------*/

#body-container {
	margin: 2em auto 0em;
	width: 90%;
	max-width: 700px
}

#body-container h1 {
	margin: 1em 0em 10px;
}

pre {
	display: inline;
}

.penguin {
	color: #ff5300;
}

#body-container h2 {
	margin: 0em auto;
	text-align: left;

}

.fa {
	padding: 0px 5px;
}

.fa:hover {
	color: #3a86ff;
}

/*-------------

	 BODY - PROJECTS

-------------*/

#projects-carousel {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: left;
}

.project {
	position: relative;
	min-height: 160px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 2px 2px 4px lightgray;
}

.project h4 {
	margin: 10px 0px 0px 10px;
}

.project p {
	font-size: 90%;
	margin: 5px 10px 0px 10px;
}

.project-links{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/*-------------

MEDIA QUERIES

-------------*/


@media screen and (max-width: 550px) {
	.links {
		display: none;
	}

	.links-mobile {
		display: block;
		padding: 10px 0px;
		text-align: right;
		margin-right: 15px;
	}

}

@media screen and (max-width: 700px) {
	#projects-carousel {
		grid-template-columns: 100%;
	}
}

