/*-------------

GLOBAL STYLES

-------------*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0 0 50px 0;
	color: #151824;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, pre {
	font-family: 'Montserrat', sans-serif;
}


a {
	color: #151824;
	text-decoration: underline;
	text-decoration-color: #fee12d;
}

a:hover {
	text-decoration-color: blue;
}



/*----------------

	FULL HEADER

----------------*/

.header {
	width: 100vw;
	/* border-bottom: 1px solid #D3D3D3; */
}

.header-sub-container {
	margin: 0px auto;
	padding: 7px 0px 0px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 130px;
}

.logo h1 {
	margin-left: 20px;
}


.links {
	text-align: right;
}

.links a, .links-mobile a {
	font-family: 'montserrat', sans-serif;
	font-weight: 500;
	padding: 0px 5px;
	/* text-decoration: underline;
	text-decoration-color: #fee12d; */
}

.links-mobile {
	display: none;
}



/*-------------

	 BODY

-------------*/

#hero-container {
	margin: 2em auto 0em;
	width: 100%;
}

#hero-container h2 {
	display: block;
	position: absolute;
	left: auto;
	right: auto;
	margin: 0px 5% 10px 5%;
	text-align: center;
	font-size: 220%;
}

.body-container {
	display: block;
	margin: 15em auto;
	width: 90%;
	max-width: 700px;
}

pre {
	display: inline;
}

.penguin {
	color: #ff5300;
}

.fa {
	padding: 0px 5px;
}

.fa:hover {
	color: #3a86ff;
}

/*-------------

	 BODY - TABLES

-------------*/

table {
	width: 80%;
}


table td {
	min-width: 200px;
}

table h4 {
	margin: 0px;
}

/*-------------

	 BODY - PROJECTS

-------------*/

#projects-carousel {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: left;
}

.project {
	position: relative;
	min-height: 160px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 10px;
	box-shadow: 2px 2px 4px lightgray;
}

.project h4 {
	margin: 10px 0px 0px 10px;
}

.project p {
	font-size: 90%;
	margin: 5px 10px 0px 10px;
}

.project-links{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/*-------------

MEDIA QUERIES

-------------*/


@media screen and (max-width: 650px) {

	.header-sub-container {
		justify-content: center;
	}

	.links {
		display: none;
	}

	.links-mobile {
		display: block;
		padding: 20px 0px 0px 0px;
		text-align: center;
	}

	.links-mobile a {
		font-size: 120%;
		padding: 0px 10px;
	}

	#hero-container {
		margin: 50px 0 0 0;
	}

	#hero-container h2 {
		font-size: 180%;
		margin: 0em 5%;
	}

}

@media screen and (max-width: 700px) {
	#projects-carousel {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 450px) {
	.body-container {
		margin: 18em auto;
	}
}

